<html lang="en">

<head>
  <meta charset="utf-8">
  <title>R Plot</title>
  <link rel="icon" type="image/svg" sizes="32x32" href="<%=require('./assets/favicon-32x32.svg')%>">
  <link rel="icon" type="image/svg" sizes="16x16" href="<%=require('./assets/favicon-16x16.svg')%>">
</head>

<body>
  <%- include views/container %>
</body>

</html>
